.et-card {
    width: 100%;
    max-width: 400px;
    height: 200px;
    color: var(--color-text);
    background: var(--color-secondary);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #656871;
}
.et-card-header {
    font-size: large;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.et-card-row {
    margin: 5px auto;
}
.et-card-label {
    margin-bottom: 0;
}
.et-card-text {
    margin-bottom: 0;
}